#menu{
    display: inline-block;
    float: right;
    height: 70px;
    width: 100%;
    background-color: whitesmoke;;
    margin-top: -10px;

}
.li_menu{
    margin-right: 60px;
    margin-top: -5px;
    display: inline-block;
    float: right;
    padding: 10px 20px;
    font-size: 1.3em;
    font-family: serif, Arial, "Times New Roman";

}
.links{
    text-decoration: none;
    color: black;
}
#gorna{
    margin-top: 70px;
    color: black;
    height: 2px;
    background-color: black;
}
a:visited{
    color: lightseagreen;
}


